services:
  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
      - ./data/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_SERVER_ROOT_URL={{ grafana_server_root_url }}
      - GF_SECURITY_DISABLE_GRAFANA_LOGIN_FORM_RENDERING={{ grafana_disable_login_form }}
      - GF_PLUGINS_PREINSTALL={{ grafana_install_plugins }}
    deploy:
      resources:
        limits:
          cpus: "{{ grafana_cpu_limit }}"
          memory: "{{ grafana_memory_limit }}"
    networks:
      - proxy_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy_network"
      - "traefik.http.routers.grafana.rule=Host(`{{ grafana_hostname }}`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=cloudflare"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

volumes:
  grafana_data:

networks:
  proxy_network:
    external: true
    name: proxy_network
